.card-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-title>h2 {
    margin: 0 auto;
    margin-bottom: 10%;
    display: inline-block;
    font-size: 34px;
}